<li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'faculty_dashboard' %}active{% endif %}" href="{{ url_for('faculty_dashboard') }}">
        <i class="bi bi-speedometer2"></i> <span>Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'mark_attendance' %}active{% endif %}" href="{{ url_for('mark_attendance') }}">
        <i class="bi bi-check2-square"></i> <span>Mark Attendance</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'enter_marks' %}active{% endif %}" href="{{ url_for('enter_marks') }}">
        <i class="bi bi-pencil-square"></i> <span>Enter Marks</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('profile') }}">
        <i class="bi bi-person"></i> <span>My Profile</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'faculty_timetable' %}active{% endif %}" href="{{ url_for('faculty_timetable') }}">
        <i class="bi bi-calendar-week"></i> <span>My Timetable</span>
    </a>
</li>